@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-color-primary: rgba(183, 205, 184, 1);
  --bg-color-secondary: rgba(58, 90, 64, 0.9);
  --bg-color-cta: rgba(235, 130, 88, 1);
  --bg-color-cta-hover: rgb(209, 105, 64);
  --bg-btn-color-hover: rgb(196, 196, 196);
  --font-dark: rgba(32, 32, 32, 1);
  --font-light: rgba(219, 219, 219, 1);
  --title-font: "Playfair Display", serif;
  --body-text-font: "Josefin Sans", sans-serif;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 500px;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--font-light);
  }
}

.logo-typing {
  overflow: hidden;
  border-right: 0.15em solid var(--bg-color-cta);
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 1s step-end infinite;
}

.bg-color-primary {
  background-color: var(--bg-color-primary);
}
.bg-color-secondary {
  background-color: var(--bg-color-secondary);
}
.font-dark {
  color: var(--font-dark);
}
.font-light {
  color: var(--font-light);
}
.body-text-font {
  font-family: var(--body-text-font);
}
.title-font {
  font-family: var(--title-font);
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.btn {
  padding: 2.5% 5%;
  border-radius: 1vw;
}
.normal {
  border: 1px solid var(--font-light);
}
.normal:hover,
.normal-dark:hover {
  background-color: var(--bg-btn-color-hover);
  color: var(--font-dark);
  transition: all 350ms ease;
}
.normal-dark {
  border: 1px solid var(--font-dark);
}
.call-to-action {
  background-color: var(--bg-color-cta);
}
.call-to-action:hover {
  background-color: var(--bg-color-cta-hover);
  transition: all 350ms ease;
}
.icone {
  font-style: normal;
}
hr {
  border-color: var(--font-light);
  border-top: none;
  padding-bottom: -50%;
}
.menu-iten > a:hover {
  color: var(--bg-color-cta);
  transition: all 350ms ease;
}
.menu-iten > a:active {
  color: var(--bg-color-cta-hover);
}
.swiper-pagination {
  color: var(--bg-color-cta);
}
.swiper {
  height: 75vh;
}
.img-galery {
  width: 100%;
}

@media (max-width: 425px) {
  .title-font-size {
    font-size: 40px;
    line-height: 125%;
  }
  .sub-title-font-size {
    font-size: 25px;
  }
  .body-text-font-size {
    font-size: 20px;
    line-height: 130%;
  }

  .border-spacing {
    padding: 20% 3%;
  }
  .section-spacing {
    padding-bottom: 5%;
  }
  .button-spacing {
    padding: 5% 0% 10% 0%;
  }
  .section-spacing-half {
    padding-bottom: 2.5%;
  }
  .section-spacing-top {
    padding-top: 30%;
  }
  .button-right-spacing {
    margin-right: 3%;
  }
  #menu-style,
  footer {
    padding: 7% 3%;
  }

  #menu-style {
    position: fixed;
    width: 100vw;
    backdrop-filter: blur(2px);
    z-index: 100;
  }
  #menu-icon {
    width: 45px;
  }
  #menu {
    opacity: 0;
    max-height: 0;
    width: 100%;
    transition: all 350ms ease;
  }
  #menu-flex-box {
    width: 100%;
    transition: all 350ms ease;
  }
  hr {
    margin-bottom: 5%;
    color: var(--font-light);
  }
  img {
    width: 100%;
    max-height: 80vh;
    border-radius: 3%;
    object-fit: cover;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .column {
    flex-direction: column;
  }
}

@media (min-width: 425px) {
  .title-font-size {
    font-size: 52px;
    line-height: 125%;
  }
  .sub-title-font-size {
    font-size: 30px;
  }
  .body-text-font-size {
    font-size: 23px;
    line-height: 125%;
  }

  .border-spacing {
    padding: 10% 5%;
  }
  .section-spacing {
    padding-bottom: 5%;
  }
  .button-spacing {
    padding: 5% 0% 10% 0%;
  }
  .section-spacing-half {
    padding-bottom: 2.5%;
  }
  .section-spacing-top {
    padding-top: 30%;
  }
  .button-right-spacing {
    margin-right: 3%;
  }
  #menu-style,
  footer {
    padding: 3% 5%;
  }

  #menu-style {
    position: fixed;
    width: 100vw;
    backdrop-filter: blur(2px);
    z-index: 100;
  }
  #menu-icon {
    width: 50px;
  }
  #menu {
    opacity: 0;
    max-height: 0;
    width: 100%;
    transition: all 350ms ease;
  }
  #menu-flex-box {
    width: 100%;
    transition: all 350ms ease;
  }
  img {
    width: 100%;
    max-height: 85vh;
    border-radius: 3%;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .column {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .title-font-size {
    font-size: 56px;
  }
  .sub-title-font-size {
    font-size: 32px;
  }
  .body-text-font-size {
    font-size: 23px;
    line-height: 125%;
  }

  .border-spacing {
    padding: 10% 5%;
  }
  .section-spacing {
    padding-bottom: 2%;
  }
  .button-spacing {
    padding: 2% 0% 4% 0%;
  }
  .section-spacing-half {
    padding-bottom: 1%;
  }
  .section-spacing-top {
    padding-top: 15%;
  }
  .button-right-spacing {
    margin-right: 2%;
  }
  .btn {
    padding: 2% 4%;
    border-radius: 0.5vw;
  }
  .btn-desktop {
    padding: 1% 2%;
  }
  #menu-style,
  footer {
    padding: 1.5% 5%;
  }
  #menu-style {
    z-index: 100;
  }

  #menu-icon {
    display: none;
  }
  #menu {
    opacity: 1;
    max-height: 100%;
    width: 100%;
  }

  #menu-style,
  #menu-itens,
  .section-flex-desktop-screens,
  footer,
  #testimony-section {
    display: flex;
    align-items: center;
  }

  #menu-itens {
    align-items: center;
    justify-content: space-between;
  }
  .text-section-desktop-screens {
    width: 55vw;
    padding-right: 5%;
  }
  #testimony {
    width: 75%;
  }
  footer,
  #testimony-section {
    flex-direction: column;
    align-items: center;
  }
  img {
    border-radius: 1.5%;
  }
  .section-img {
    width: 35vw;
  }
  .swiper {
    height: 80vh;
    width: 100%;
  }
  .img-galery {
    width: 100%;
  }
}
